/* checkd input design */
.check-group {
    position: relative;
    padding: 5px 0;

    input[type='checkbox'] {
      height: 0;
      display: none;
    }
    span {
      display: block;
      font-size: 16px;
      color: #222;
      font-weight: 600;
      text-transform: capitalize;
      position: relative;
      padding: 5px 0 0 50px;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 7px;
        z-index: 2;
        cursor: pointer;
      }
      
      &:before {
        border: 1px solid #999;
        border-radius: 2px;
        transition: background 0.3s;
      }

      &:after {
        height: 6px;
        width: 16px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        top: 12px;
        left: 2px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
      }

      @media screen and (max-width: 767px) {
        padding-left: 30px;
      }
    }

    input[type='checkbox']:checked + span::before {
      background: #28a745;
      border-left-color: #28a745;
      border-bottom-color: #28a745;
    }

    input[type='checkbox']:checked + span::after {
      visibility: visible;
      opacity: 1;
    }
}
